<main class="main">
  <div class="main_content">
    {{> heading title="Інформація про товар"}}

    {{#with data.product}}
    <form method="POST" action="/purchase-create?id={{id}}">
      <div class="product-info">

        <div class="left_part">
          <img src="{{img}}" alt="{{title}}" class="product-info_image">
        </div>

        <div class="right_part">
          <h2 class="product-info_title">{{title}}</h2>
          <p class="product-info_subtitle">{{description}}</p>

          {{> divider}}

          {{#each category}}
          <span class="product-info_category product-info_category--{{id}}">{{text}}</span>
          {{/each}}

          {{> divider}}

          {{> field label="Kiлькiсть" type="number" name="amount" value="1" }}

          <button class="product-info_button">Kупити зараз: {{price}} грн</button>
        </div>

      </div>
    </form>
    {{/with}}

    {{> heading title="Iншi товари" info="Kомп'тери та ноутбуки"}}

    <div class="product-list">
      {{#each data.list}}
      {{> purchase-product data=this}}
      {{/each}}
    </div>
  </div>
</main>